@import"https://fonts.cdnfonts.com/css/satoshi";
*,
*:before,
*:after{
    box-sizing:border-box;
    list-style:none;
    text-decoration:none;
    font-weight:400
}

:root{
    --primary-color: #0077b6;
    --secondary-color: #ff8c00;
    --accent-color: #2ecc71;
    --background-color: #f4f4f4;
    --text-color: #333;
    --link-color: #3498db;
    --link-hover-color: #e74c3c;
    --dark-background-color: #1a1a1a;
    --dark-text-color: #eee;
    --dark-link-color: #4fa3d1;
    --dark-link-hover-color: #ff7f50
}

body{
    min-height:100vh;
    transition: .5s;
    line-height:1.6;
    font-family:Satoshi,sans-serif;
    font-size:15px;
    background-color:var(--background-color);
    color:var(--text-color);
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
    
a{
    color:var(--primary-color)
}
a:hover{
    color:var(--secondary-color)
}

hr.dashed{
    border-top:2px dashed #bbb
}

hr.dotted{
    border-top:2px dotted #bbb
}

hr.solid{
    border-top:2px solid #bbb
}

hr.rounded{
    border-top:8px solid #bbb;
    border-radius:5px
}